TMDB_BEARER_TOKEN=your_tmdb_read_access_token_here
NOTION_TOKEN=your_notion_integration_secret_here
GOOGLE_API_KEY=your_google_api_key_here
GOOGLE_CALENDAR_IDS=primary,friend_birthdays_calendar_id@group.calendar.google.com
NOTION_SPECIALS_DATABASE_ID=your_notion_database_id_here
NOTION_SPECIALS_DATABASE_URL=https://www.notion.so/<workspace>/<32-char-db-id>?v=...
