TMDB_BEARER_TOKEN=your_tmdb_read_access_token_here
TMDB_API_KEY=your_tmdb_v3_api_key_here
RAWG_API_KEY=your_rawg_api_key_here
NOTION_TOKEN=your_notion_integration_secret_here
GOOGLE_API_KEY=your_google_api_key_here
GOOGLE_PLACES_API_KEY=your_google_places_api_key_here
GOOGLE_CALENDAR_IDS=primary,friend_birthdays_calendar_id@group.calendar.google.com
OPENAI_API_KEY=your_openai_api_key_here
SCRAPE_OP_MISSING_CARDS_DRIVE_URL=https://drive.google.com/file/d/your_file_id/view?usp=sharing
# Optional alternative to URL:
# SCRAPE_OP_MISSING_CARDS_DRIVE_FILE_ID=your_file_id
